#photos {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 1040px;
	justify-content: center;
}

.photo {
	flex-grow: 1;
	margin: 10px;
	width: 500px;
}
